.card p {
  color: green;
  /* -webkit-text-fill-color: blue;
  -webkit-text-stroke: 2px red; */
}

p:active,
P:hover {
  -webkit-text-fill-color: blue;
  -webkit-text-stroke: 2px red;
  direction: rtl;
}

* {
  font-family: 'Roboto', sans-serif;
}
