<div class="article_card">
	{{#each articles}}
	<div class="card card_article">
		<div class="this_card">
			<img src="{{photo}}" alt="pfoto_card">
			<h5 class="card-title">{{name}}</h5>
			<p class="card-text">{{description}}</p>
		</div>

		<div class="link_card">
			<a href="#" class="btn btn-primary btn_card" type="button">Read All</a>
		</div>

	</div>
	{{/each}}
</div>