{{#with footer}}
<div class="nav_footer">

	<ul class="pages">
		{{#each pages}}
		<li><a href="{{path}}" class="link_footer">{{name}}</a></li>
		{{/each}}
	</ul>
	<p class="copyright">{{copyright}}</p>

</div>
{{/with}}